html,
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    /* overflow: hidden; */
    background: linear-gradient(rgb(150, 20, 20), rgb(51, 0, 0));
    box-sizing: border-box;
    font-family: sans-serif;
    box-shadow: 0 -50px 100px 10px inset rgb(51, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    border: none;
}

.wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: absolute;
    min-width: 800px;
    width: 50vh;
    aspect-ratio: 1/1;
    transition: opacity 2s;
    transform-origin: 0% 100%;
    overflow: hidden;
    border: 15px solid #fff;
    opacity: 1;
    background: linear-gradient(rgb(150, 20, 20), rgb(51, 0, 0));
    box-shadow: 0 -50px 100px 10px inset rgb(51, 0, 0);
    box-shadow: 0 0 100px 10px rgb(51, 0, 0);
}

.container-1 {
    z-index: 3;
}

.container-2 {
    z-index: 2;
}

.container-final {
    z-index: 1;
}

.container-animation {
    animation: flip 2s forwards;
}

.inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.container p {
    color: #fff;
    font-size: 4rem;
    padding: 3rem;
    line-height: 4.2rem;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.next {
    position: absolute;
    bottom: 15%;
    left: calc(50% - 2.5vw);
    border-radius: 10vh;
    max-width: 50px;
    width: 5%;
    aspect-ratio: 1/1;
    border: 0;
    cursor: pointer;
    z-index: 1000;
    background: none;
}

.next:hover img {
    animation: movenext .5s forwards;
}

@keyframes movenext {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(50%, 0);
    }

    90% {
        transform: translate(40%, 0);
    }

    100% {
        transform: translate(50%, 0);
    }
}

button::before {
    content: '';
    display: block;
    background-color: #fff;
    width: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10vh;
    transition: 0.25s;
    z-index: -1;
    box-shadow: 0 0 20px 1px rgb(255, 255, 255);
}

button:hover::before {
    content: '';
    display: block;
    background-color: #fff;
    aspect-ratio: 1/1;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10vh;
    filter: blur(.5rem);
}

:root {
    --animation-fadeIn: fadeIn 2s ease-in-out 5s backwards;
    --animation-lightPulse: pulse 2s ease-in-out 7s infinite alternate;
    --animation-zoomout: zoomout-translate-names 1s ease-in-out 7s forwards;
    --animation-moveBtn: moveBtn 2s cubic-bezier(0.76, -0.09, 0, 1.04) forwards;
}

svg {
    width: 50%;
    animation: var(--animation-zoomout);
}

.display-none {
    display: none;
}

.shadow {
    filter: blur(4rem);
    position: absolute;
    z-index: -1;
    width: 145%;
    height: 90%;
    display: flex;
    align-items: center;
    animation: var(--animation-fadeIn), var(--animation-lightPulse), var(--animation-zoomout);
}


.inner-shadow {
    width: 100%;
    height: 80%;
    background-color: rgb(245, 130, 130);
    clip-path: polygon(0 0,
            55% 0,
            55% 30%,
            65% 30%, 55% 60%,
            100% 60%,
            100% 100%,
            30% 100%,
            30% 40%,
            0 40%);
}

.audioBtn {
    width: 10%;
    height: 10%;
    border: none;
    border-radius: 20rem;
    transition: .25s;
    cursor: pointer;
    position: absolute;
    bottom: 45%;
    right: 45%;
    background-color: transparent;
    z-index: 0;
}

button img {
    width: 100%;
    transition: .5s;
}


.audioBtn img:nth-of-type(2) {
    opacity: 0;
    position: absolute;
}

.audioAnimation {
    animation: var(--animation-moveBtn);
}



@keyframes flip {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-90deg);
    }

    100% {
        opacity: 0;
        transform: rotate(-90deg);
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: .8;
    }

    100% {
        opacity: 1;
        transform: scale(.8);
    }

}

@keyframes zoomout-translate-names {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.5) translate(0, -50%);
    }
}

@keyframes moveBtn {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.5);
        bottom: 3vh;
        right: 3vw;
    }
}



.frame {
    width: 100vw;
    height: 100vh;
}

.frame section {
    position: absolute;
    display: flex;
    gap: 10px;
}

.frame-right {
    top: 0;
    right: -12px;
    flex-direction: column;
}

.frame-left {
    top: 0;
    left: -12px;
    flex-direction: column;
}

.frame-top {
    top: -12px;
}


.frame-bottom {
    bottom: -12px;
}


.frame div {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 30px;
}

@media (max-width: 500px) {
    .container {
        min-width: 90vw;
        border: 2vw solid #fff;
    }

    .inner p {
        font-size: 2rem;
        line-height: 2.2rem;
    }

    .frame {
        --dist-frame: -7px;
    }

    .frame section {
        gap: 5px;
    }

    .frame div {
        width: 10px;
        height: 10px;
    }

    .frame-right {
        right: var(--dist-frame);
    }

    .frame-left {
        left: var(--dist-frame);
    }

    .frame-top {
        top: var(--dist-frame);
    }


    .frame-bottom {
        bottom: var(--dist-frame);
    }

    button.next {
        width: 2rem;
        bottom: 30vh;
    }

    button.next img {
        width: 200%;
        transition: .5s;
    }

}