@-webkit-keyframes animate-svg-stroke-1 {
    0% {
        stroke-dashoffset: 755.4807739257812px;
        stroke-dasharray: 755.4807739257812px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 755.4807739257812px;
    }
}

@keyframes animate-svg-stroke-1 {
    0% {
        stroke-dashoffset: 755.4807739257812px;
        stroke-dasharray: 755.4807739257812px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 755.4807739257812px;
    }
}

@-webkit-keyframes animate-svg-fill-1 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-1 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-1 {
    -webkit-animation: animate-svg-stroke-1 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
        animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5s both;
    animation: animate-svg-stroke-1 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
        animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5s both;
}

@-webkit-keyframes animate-svg-stroke-2 {
    0% {
        stroke-dashoffset: 2501.999755859375px;
        stroke-dasharray: 2501.999755859375px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 2501.999755859375px;
    }
}

@keyframes animate-svg-stroke-2 {
    0% {
        stroke-dashoffset: 2501.999755859375px;
        stroke-dasharray: 2501.999755859375px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 2501.999755859375px;
    }
}

@-webkit-keyframes animate-svg-fill-2 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-2 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-2 {
    -webkit-animation: animate-svg-stroke-2 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both,
        animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.1s both;
    animation: animate-svg-stroke-2 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both,
        animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.1s both;
}

@-webkit-keyframes animate-svg-stroke-3 {
    0% {
        stroke-dashoffset: 1849.8011474609375px;
        stroke-dasharray: 1849.8011474609375px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1849.8011474609375px;
    }
}

@keyframes animate-svg-stroke-3 {
    0% {
        stroke-dashoffset: 1849.8011474609375px;
        stroke-dasharray: 1849.8011474609375px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1849.8011474609375px;
    }
}

@-webkit-keyframes animate-svg-fill-3 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-3 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-3 {
    -webkit-animation: animate-svg-stroke-3 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both,
        animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.2s both;
    animation: animate-svg-stroke-3 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both,
        animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.2s both;
}

@-webkit-keyframes animate-svg-stroke-4 {
    0% {
        stroke-dashoffset: 950.6495361328125px;
        stroke-dasharray: 950.6495361328125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 950.6495361328125px;
    }
}

@keyframes animate-svg-stroke-4 {
    0% {
        stroke-dashoffset: 950.6495361328125px;
        stroke-dasharray: 950.6495361328125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 950.6495361328125px;
    }
}

@-webkit-keyframes animate-svg-fill-4 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-4 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-4 {
    -webkit-animation: animate-svg-stroke-4 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s both,
        animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.3s both;
    animation: animate-svg-stroke-4 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s both,
        animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.3s both;
}

@-webkit-keyframes animate-svg-stroke-5 {
    0% {
        stroke-dashoffset: 691.3113403320312px;
        stroke-dasharray: 691.3113403320312px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 691.3113403320312px;
    }
}

@keyframes animate-svg-stroke-5 {
    0% {
        stroke-dashoffset: 691.3113403320312px;
        stroke-dasharray: 691.3113403320312px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 691.3113403320312px;
    }
}

@-webkit-keyframes animate-svg-fill-5 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-5 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-5 {
    -webkit-animation: animate-svg-stroke-5 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s both,
        animate-svg-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.4s both;
    animation: animate-svg-stroke-5 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s both,
        animate-svg-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.4s both;
}

@-webkit-keyframes animate-svg-stroke-6 {
    0% {
        stroke-dashoffset: 708.8172607421875px;
        stroke-dasharray: 708.8172607421875px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 708.8172607421875px;
    }
}

@keyframes animate-svg-stroke-6 {
    0% {
        stroke-dashoffset: 708.8172607421875px;
        stroke-dasharray: 708.8172607421875px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 708.8172607421875px;
    }
}

@-webkit-keyframes animate-svg-fill-6 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-6 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-6 {
    -webkit-animation: animate-svg-stroke-6 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both,
        animate-svg-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.5s both;
    animation: animate-svg-stroke-6 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both,
        animate-svg-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.5s both;
}

@-webkit-keyframes animate-svg-stroke-7 {
    0% {
        stroke-dashoffset: 3024.304443359375px;
        stroke-dasharray: 3024.304443359375px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 3024.304443359375px;
    }
}

@keyframes animate-svg-stroke-7 {
    0% {
        stroke-dashoffset: 3024.304443359375px;
        stroke-dasharray: 3024.304443359375px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 3024.304443359375px;
    }
}

@-webkit-keyframes animate-svg-fill-7 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-7 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-7 {
    -webkit-animation: animate-svg-stroke-7 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s both,
        animate-svg-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.6s both;
    animation: animate-svg-stroke-7 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s both,
        animate-svg-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.6s both;
}

@-webkit-keyframes animate-svg-stroke-8 {
    0% {
        stroke-dashoffset: 809.7813720703125px;
        stroke-dasharray: 809.7813720703125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 809.7813720703125px;
    }
}

@keyframes animate-svg-stroke-8 {
    0% {
        stroke-dashoffset: 809.7813720703125px;
        stroke-dasharray: 809.7813720703125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 809.7813720703125px;
    }
}

@-webkit-keyframes animate-svg-fill-8 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-8 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-8 {
    -webkit-animation: animate-svg-stroke-8 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s both,
        animate-svg-fill-8 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.7s both;
    animation: animate-svg-stroke-8 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s both,
        animate-svg-fill-8 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.7s both;
}

@-webkit-keyframes animate-svg-stroke-9 {
    0% {
        stroke-dashoffset: 950.6490478515625px;
        stroke-dasharray: 950.6490478515625px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 950.6490478515625px;
    }
}

@keyframes animate-svg-stroke-9 {
    0% {
        stroke-dashoffset: 950.6490478515625px;
        stroke-dasharray: 950.6490478515625px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 950.6490478515625px;
    }
}

@-webkit-keyframes animate-svg-fill-9 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-9 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-9 {
    -webkit-animation: animate-svg-stroke-9 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s both,
        animate-svg-fill-9 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.8s both;
    animation: animate-svg-stroke-9 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s both,
        animate-svg-fill-9 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.8s both;
}

@-webkit-keyframes animate-svg-stroke-10 {
    0% {
        stroke-dashoffset: 1849.8062744140625px;
        stroke-dasharray: 1849.8062744140625px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1849.8062744140625px;
    }
}

@keyframes animate-svg-stroke-10 {
    0% {
        stroke-dashoffset: 1849.8062744140625px;
        stroke-dasharray: 1849.8062744140625px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1849.8062744140625px;
    }
}

@-webkit-keyframes animate-svg-fill-10 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-10 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-10 {
    -webkit-animation: animate-svg-stroke-10 5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s both,
        animate-svg-fill-10 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.9s both;
    animation: animate-svg-stroke-10 5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s both,
        animate-svg-fill-10 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.9s both;
}

@-webkit-keyframes animate-svg-stroke-11 {
    0% {
        stroke-dashoffset: 950.643310546875px;
        stroke-dasharray: 950.643310546875px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 950.643310546875px;
    }
}

@keyframes animate-svg-stroke-11 {
    0% {
        stroke-dashoffset: 950.643310546875px;
        stroke-dasharray: 950.643310546875px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 950.643310546875px;
    }
}

@-webkit-keyframes animate-svg-fill-11 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-11 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-11 {
    -webkit-animation: animate-svg-stroke-11 5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s both,
        animate-svg-fill-11 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6s both;
    animation: animate-svg-stroke-11 5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s both,
        animate-svg-fill-11 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6s both;
}

/* FAMILIA */

/***************************************************
 * Generated by SVG Artista on 12/24/2021, 12:15:37 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

@-webkit-keyframes animate-svg-stroke-fam1 {
    0% {
        stroke-dashoffset: 663.5303955078125px;
        stroke-dasharray: 663.5303955078125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 663.5303955078125px;
    }
}

@keyframes animate-svg-stroke-fam1 {
    0% {
        stroke-dashoffset: 663.5303955078125px;
        stroke-dasharray: 663.5303955078125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 663.5303955078125px;
    }
}

@-webkit-keyframes animate-svg-fill-1 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-1 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-fam-1 {
    -webkit-animation: animate-svg-stroke-fam1 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
        animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5s both;
    animation: animate-svg-stroke-fam1 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
        animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5s both;
}

@-webkit-keyframes animate-svg-stroke-fam2 {
    0% {
        stroke-dashoffset: 521.9500732421875px;
        stroke-dasharray: 521.9500732421875px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 521.9500732421875px;
    }
}

@keyframes animate-svg-stroke-fam2 {
    0% {
        stroke-dashoffset: 521.9500732421875px;
        stroke-dasharray: 521.9500732421875px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 521.9500732421875px;
    }
}

@-webkit-keyframes animate-svg-fill-2 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-2 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-fam-2 {
    -webkit-animation: animate-svg-stroke-fam2 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both,
        animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.1s both;
    animation: animate-svg-stroke-fam2 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both,
        animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.1s both;
}

@-webkit-keyframes animate-svg-stroke-fam3 {
    0% {
        stroke-dashoffset: 281.5626525878906px;
        stroke-dasharray: 281.5626525878906px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 281.5626525878906px;
    }
}

@keyframes animate-svg-stroke-fam3 {
    0% {
        stroke-dashoffset: 281.5626525878906px;
        stroke-dasharray: 281.5626525878906px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 281.5626525878906px;
    }
}

@-webkit-keyframes animate-svg-fill-3 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-3 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-fam-3 {
    -webkit-animation: animate-svg-stroke-fam3 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both,
        animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.2s both;
    animation: animate-svg-stroke-fam3 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both,
        animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.2s both;
}

@-webkit-keyframes animate-svg-stroke-fam4 {
    0% {
        stroke-dashoffset: 521.9502563476562px;
        stroke-dasharray: 521.9502563476562px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 521.9502563476562px;
    }
}

@keyframes animate-svg-stroke-fam4 {
    0% {
        stroke-dashoffset: 521.9502563476562px;
        stroke-dasharray: 521.9502563476562px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 521.9502563476562px;
    }
}

@-webkit-keyframes animate-svg-fill-4 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-4 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-fam-4 {
    -webkit-animation: animate-svg-stroke-fam4 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s both,
        animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.3s both;
    animation: animate-svg-stroke-fam4 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s both,
        animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.3s both;
}

@-webkit-keyframes animate-svg-stroke-fam5 {
    0% {
        stroke-dashoffset: 375.1888122558594px;
        stroke-dasharray: 375.1888122558594px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 375.1888122558594px;
    }
}

@keyframes animate-svg-stroke-fam5 {
    0% {
        stroke-dashoffset: 375.1888122558594px;
        stroke-dasharray: 375.1888122558594px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 375.1888122558594px;
    }
}

@-webkit-keyframes animate-svg-fill-5 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-5 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-fam-5 {
    -webkit-animation: animate-svg-stroke-fam5 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s both,
        animate-svg-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.4s both;
    animation: animate-svg-stroke-fam5 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s both,
        animate-svg-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.4s both;
}

@-webkit-keyframes animate-svg-stroke-fam6 {
    0% {
        stroke-dashoffset: 378.3148193359375px;
        stroke-dasharray: 378.3148193359375px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 378.3148193359375px;
    }
}

@keyframes animate-svg-stroke-fam6 {
    0% {
        stroke-dashoffset: 378.3148193359375px;
        stroke-dasharray: 378.3148193359375px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 378.3148193359375px;
    }
}

@-webkit-keyframes animate-svg-fill-6 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-6 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-fam-6 {
    -webkit-animation: animate-svg-stroke-fam6 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both,
        animate-svg-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.5s both;
    animation: animate-svg-stroke-fam6 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both,
        animate-svg-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.5s both;
}

@-webkit-keyframes animate-svg-stroke-fam7 {
    0% {
        stroke-dashoffset: 635.85986328125px;
        stroke-dasharray: 635.85986328125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 635.85986328125px;
    }
}

@keyframes animate-svg-stroke-fam7 {
    0% {
        stroke-dashoffset: 635.85986328125px;
        stroke-dasharray: 635.85986328125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 635.85986328125px;
    }
}

@-webkit-keyframes animate-svg-fill-7 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-7 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-fam-7 {
    -webkit-animation: animate-svg-stroke-fam7 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s both,
        animate-svg-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.6s both;
    animation: animate-svg-stroke-fam7 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s both,
        animate-svg-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.6s both;
}

@-webkit-keyframes animate-svg-stroke-fam8 {
    0% {
        stroke-dashoffset: 521.9506225585938px;
        stroke-dasharray: 521.9506225585938px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 521.9506225585938px;
    }
}

@keyframes animate-svg-stroke-fam8 {
    0% {
        stroke-dashoffset: 521.9506225585938px;
        stroke-dasharray: 521.9506225585938px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 521.9506225585938px;
    }
}

@-webkit-keyframes animate-svg-fill-8 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-8 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-fam-8 {
    -webkit-animation: animate-svg-stroke-fam8 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s both,
        animate-svg-fill-8 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.7s both;
    animation: animate-svg-stroke-fam8 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s both,
        animate-svg-fill-8 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.7s both;
}

@-webkit-keyframes animate-svg-stroke-fam9 {
    0% {
        stroke-dashoffset: 521.949951171875px;
        stroke-dasharray: 521.949951171875px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 521.949951171875px;
    }
}

@keyframes animate-svg-stroke-fam9 {
    0% {
        stroke-dashoffset: 521.949951171875px;
        stroke-dasharray: 521.949951171875px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 521.949951171875px;
    }
}

@-webkit-keyframes animate-svg-fill-9 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-9 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-fam-9 {
    -webkit-animation: animate-svg-stroke-fam9 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s both,
        animate-svg-fill-9 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.8s both;
    animation: animate-svg-stroke-fam9 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s both,
        animate-svg-fill-9 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.8s both;
}

@-webkit-keyframes animate-svg-stroke-fam10 {
    0% {
        stroke-dashoffset: 2669.219970703125px;
        stroke-dasharray: 2669.219970703125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 2669.219970703125px;
    }
}

@keyframes animate-svg-stroke-fam10 {
    0% {
        stroke-dashoffset: 2669.219970703125px;
        stroke-dasharray: 2669.219970703125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 2669.219970703125px;
    }
}

@-webkit-keyframes animate-svg-fill-10 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-10 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-fam-10 {
    -webkit-animation: animate-svg-stroke-fam10 5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s both,
        animate-svg-fill-10 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.9s both;
    animation: animate-svg-stroke-fam10 5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s both,
        animate-svg-fill-10 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.9s both;
}

@-webkit-keyframes animate-svg-stroke-fam11 {
    0% {
        stroke-dashoffset: 1224.589599609375px;
        stroke-dasharray: 1224.589599609375px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1224.589599609375px;
    }
}

@keyframes animate-svg-stroke-fam11 {
    0% {
        stroke-dashoffset: 1224.589599609375px;
        stroke-dasharray: 1224.589599609375px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1224.589599609375px;
    }
}

@-webkit-keyframes animate-svg-fill-11 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-11 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-fam-11 {
    -webkit-animation: animate-svg-stroke-fam11 5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s both,
        animate-svg-fill-11 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6s both;
    animation: animate-svg-stroke-fam11 5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s both,
        animate-svg-fill-11 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6s both;
}

@-webkit-keyframes animate-svg-stroke-fam12 {
    0% {
        stroke-dashoffset: 1478.7235107421875px;
        stroke-dasharray: 1478.7235107421875px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1478.7235107421875px;
    }
}

@keyframes animate-svg-stroke-fam12 {
    0% {
        stroke-dashoffset: 1478.7235107421875px;
        stroke-dasharray: 1478.7235107421875px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1478.7235107421875px;
    }
}

@-webkit-keyframes animate-svg-fill-12 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-12 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-fam-12 {
    -webkit-animation: animate-svg-stroke-fam12 5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3199999999999998s both,
        animate-svg-fill-12 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.1s both;
    animation: animate-svg-stroke-fam12 5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3199999999999998s both,
        animate-svg-fill-12 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.1s both;
}

@-webkit-keyframes animate-svg-stroke-fam13 {
    0% {
        stroke-dashoffset: 868.314453125px;
        stroke-dasharray: 868.314453125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 868.314453125px;
    }
}

@keyframes animate-svg-stroke-fam13 {
    0% {
        stroke-dashoffset: 868.314453125px;
        stroke-dasharray: 868.314453125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 868.314453125px;
    }
}

@-webkit-keyframes animate-svg-fill-13 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-13 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-fam-13 {
    -webkit-animation: animate-svg-stroke-fam13 5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.44s both,
        animate-svg-fill-13 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.2s both;
    animation: animate-svg-stroke-fam13 5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.44s both,
        animate-svg-fill-13 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.2s both;
}

@-webkit-keyframes animate-svg-stroke-fam14 {
    0% {
        stroke-dashoffset: 1180.9129638671875px;
        stroke-dasharray: 1180.9129638671875px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1180.9129638671875px;
    }
}

@keyframes animate-svg-stroke-fam14 {
    0% {
        stroke-dashoffset: 1180.9129638671875px;
        stroke-dasharray: 1180.9129638671875px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1180.9129638671875px;
    }
}

@-webkit-keyframes animate-svg-fill-14 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-14 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-fam-14 {
    -webkit-animation: animate-svg-stroke-fam14 5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.56s both,
        animate-svg-fill-14 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.3s both;
    animation: animate-svg-stroke-fam14 5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.56s both,
        animate-svg-fill-14 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.3s both;
}

@-webkit-keyframes animate-svg-stroke-fam15 {
    0% {
        stroke-dashoffset: 809.78759765625px;
        stroke-dasharray: 809.78759765625px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 809.78759765625px;
    }
}

@keyframes animate-svg-stroke-fam15 {
    0% {
        stroke-dashoffset: 809.78759765625px;
        stroke-dasharray: 809.78759765625px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 809.78759765625px;
    }
}

@-webkit-keyframes animate-svg-fill-15 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-15 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-fam-15 {
    -webkit-animation: animate-svg-stroke-fam15 5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.68s both,
        animate-svg-fill-15 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.4s both;
    animation: animate-svg-stroke-fam15 5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.68s both,
        animate-svg-fill-15 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.4s both;
}

@-webkit-keyframes animate-svg-stroke-fam16 {
    0% {
        stroke-dashoffset: 1224.5865478515625px;
        stroke-dasharray: 1224.5865478515625px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1224.5865478515625px;
    }
}

@keyframes animate-svg-stroke-fam16 {
    0% {
        stroke-dashoffset: 1224.5865478515625px;
        stroke-dasharray: 1224.5865478515625px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1224.5865478515625px;
    }
}

@-webkit-keyframes animate-svg-fill-16 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-16 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-fam-16 {
    -webkit-animation: animate-svg-stroke-fam16 5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7999999999999998s both,
        animate-svg-fill-16 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.5s both;
    animation: animate-svg-stroke-fam16 5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7999999999999998s both,
        animate-svg-fill-16 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.5s both;
}

/*  NATAL */

/***************************************************
 * Generated by SVG Artista on 12/25/2021, 5:30:39 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

@-webkit-keyframes animate-svg-stroke-natal-1 {
    0% {
        stroke-dashoffset: 940.9337158203125px;
        stroke-dasharray: 940.9337158203125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 940.9337158203125px;
    }
}

@keyframes animate-svg-stroke-natal-1 {
    0% {
        stroke-dashoffset: 940.9337158203125px;
        stroke-dasharray: 940.9337158203125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 940.9337158203125px;
    }
}

@-webkit-keyframes animate-svg-fill-1 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-1 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-natal-1 {
    -webkit-animation: animate-svg-stroke-natal-1 5s cubic-bezier(0.47, 0, 0.745, 0.715) 7s both,
        animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 12s both;
    animation: animate-svg-stroke-natal-1 5s cubic-bezier(0.47, 0, 0.745, 0.715) 7s both,
        animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 12s both;
}

@-webkit-keyframes animate-svg-stroke-natal-2 {
    0% {
        stroke-dashoffset: 601.7276611328125px;
        stroke-dasharray: 601.7276611328125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 601.7276611328125px;
    }
}

@keyframes animate-svg-stroke-natal-2 {
    0% {
        stroke-dashoffset: 601.7276611328125px;
        stroke-dasharray: 601.7276611328125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 601.7276611328125px;
    }
}

@-webkit-keyframes animate-svg-fill-2 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-2 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-natal-2 {
    -webkit-animation: animate-svg-stroke-natal-2 5s cubic-bezier(0.47, 0, 0.745, 0.715) 7.12s both,
        animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 12.1s both;
    animation: animate-svg-stroke-natal-2 5s cubic-bezier(0.47, 0, 0.745, 0.715) 7.12s both,
        animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 12.1s both;
}

@-webkit-keyframes animate-svg-stroke-natal-3 {
    0% {
        stroke-dashoffset: 2669.220458984375px;
        stroke-dasharray: 2669.220458984375px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 2669.220458984375px;
    }
}

@keyframes animate-svg-stroke-natal-3 {
    0% {
        stroke-dashoffset: 2669.220458984375px;
        stroke-dasharray: 2669.220458984375px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 2669.220458984375px;
    }
}

@-webkit-keyframes animate-svg-fill-3 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-3 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-natal-3 {
    -webkit-animation: animate-svg-stroke-natal-3 5s cubic-bezier(0.47, 0, 0.745, 0.715) 7.24s both,
        animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 12.2s both;
    animation: animate-svg-stroke-natal-3 5s cubic-bezier(0.47, 0, 0.745, 0.715) 7.24s both,
        animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 12.2s both;
}

@-webkit-keyframes animate-svg-stroke-natal-4 {
    0% {
        stroke-dashoffset: 1058.2900390625px;
        stroke-dasharray: 1058.2900390625px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1058.2900390625px;
    }
}

@keyframes animate-svg-stroke-natal-4 {
    0% {
        stroke-dashoffset: 1058.2900390625px;
        stroke-dasharray: 1058.2900390625px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1058.2900390625px;
    }
}

@-webkit-keyframes animate-svg-fill-4 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-4 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-natal-4 {
    -webkit-animation: animate-svg-stroke-natal-4 5s cubic-bezier(0.47, 0, 0.745, 0.715) 7.36s both,
        animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 12.3s both;
    animation: animate-svg-stroke-natal-4 5s cubic-bezier(0.47, 0, 0.745, 0.715) 7.36s both,
        animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 12.3s both;
}

@-webkit-keyframes animate-svg-stroke-natal-5 {
    0% {
        stroke-dashoffset: 1180.913330078125px;
        stroke-dasharray: 1180.913330078125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1180.913330078125px;
    }
}

@keyframes animate-svg-stroke-natal-5 {
    0% {
        stroke-dashoffset: 1180.913330078125px;
        stroke-dasharray: 1180.913330078125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1180.913330078125px;
    }
}

@-webkit-keyframes animate-svg-fill-5 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-5 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-natal-5 {
    -webkit-animation: animate-svg-stroke-natal-5 5s cubic-bezier(0.47, 0, 0.745, 0.715) 7.48s both,
        animate-svg-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 12.4s both;
    animation: animate-svg-stroke-natal-5 5s cubic-bezier(0.47, 0, 0.745, 0.715) 7.48s both,
        animate-svg-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 12.4s both;
}

@-webkit-keyframes animate-svg-stroke-natal-6 {
    0% {
        stroke-dashoffset: 809.781005859375px;
        stroke-dasharray: 809.781005859375px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 809.781005859375px;
    }
}

@keyframes animate-svg-stroke-natal-6 {
    0% {
        stroke-dashoffset: 809.781005859375px;
        stroke-dasharray: 809.781005859375px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 809.781005859375px;
    }
}

@-webkit-keyframes animate-svg-fill-6 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-6 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-natal-6 {
    -webkit-animation: animate-svg-stroke-natal-6 5s cubic-bezier(0.47, 0, 0.745, 0.715) 7.6s both,
        animate-svg-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 12.5s both;
    animation: animate-svg-stroke-natal-6 5s cubic-bezier(0.47, 0, 0.745, 0.715) 7.6s both,
        animate-svg-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 12.5s both;
}

@-webkit-keyframes animate-svg-stroke-natal-7 {
    0% {
        stroke-dashoffset: 971.7064208984375px;
        stroke-dasharray: 971.7064208984375px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 971.7064208984375px;
    }
}

@keyframes animate-svg-stroke-natal-7 {
    0% {
        stroke-dashoffset: 971.7064208984375px;
        stroke-dasharray: 971.7064208984375px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 971.7064208984375px;
    }
}

@-webkit-keyframes animate-svg-fill-7 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-7 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-natal-7 {
    -webkit-animation: animate-svg-stroke-natal-7 5s cubic-bezier(0.47, 0, 0.745, 0.715) 7.72s both,
        animate-svg-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 12.6s both;
    animation: animate-svg-stroke-natal-7 5s cubic-bezier(0.47, 0, 0.745, 0.715) 7.72s both,
        animate-svg-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 12.6s both;
}

@-webkit-keyframes animate-svg-stroke-natal-8 {
    0% {
        stroke-dashoffset: 4155.56494140625px;
        stroke-dasharray: 4155.56494140625px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 4155.56494140625px;
    }
}

@keyframes animate-svg-stroke-natal-8 {
    0% {
        stroke-dashoffset: 4155.56494140625px;
        stroke-dasharray: 4155.56494140625px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 4155.56494140625px;
    }
}

@-webkit-keyframes animate-svg-fill-8 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-8 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-natal-8 {
    -webkit-animation: animate-svg-stroke-natal-8 5s cubic-bezier(0.47, 0, 0.745, 0.715) 7.84s both,
        animate-svg-fill-8 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 12.7s both;
    animation: animate-svg-stroke-natal-8 5s cubic-bezier(0.47, 0, 0.745, 0.715) 7.84s both,
        animate-svg-fill-8 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 12.7s both;
}

@-webkit-keyframes animate-svg-stroke-natal-9 {
    0% {
        stroke-dashoffset: 1224.586669921875px;
        stroke-dasharray: 1224.586669921875px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1224.586669921875px;
    }
}

@keyframes animate-svg-stroke-natal-9 {
    0% {
        stroke-dashoffset: 1224.586669921875px;
        stroke-dasharray: 1224.586669921875px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1224.586669921875px;
    }
}

@-webkit-keyframes animate-svg-fill-9 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-9 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-natal-9 {
    -webkit-animation: animate-svg-stroke-natal-9 5s cubic-bezier(0.47, 0, 0.745, 0.715) 7.96s both,
        animate-svg-fill-9 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 12.8s both;
    animation: animate-svg-stroke-natal-9 5s cubic-bezier(0.47, 0, 0.745, 0.715) 7.96s both,
        animate-svg-fill-9 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 12.8s both;
}

@-webkit-keyframes animate-svg-stroke-natal-10 {
    0% {
        stroke-dashoffset: 941.9973754882812px;
        stroke-dasharray: 941.9973754882812px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 941.9973754882812px;
    }
}

@keyframes animate-svg-stroke-natal-10 {
    0% {
        stroke-dashoffset: 941.9973754882812px;
        stroke-dasharray: 941.9973754882812px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 941.9973754882812px;
    }
}

@-webkit-keyframes animate-svg-fill-10 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-10 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-natal-10 {
    -webkit-animation: animate-svg-stroke-natal-10 5s cubic-bezier(0.47, 0, 0.745, 0.715) 8.08s both,
        animate-svg-fill-10 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 12.9s both;
    animation: animate-svg-stroke-natal-10 5s cubic-bezier(0.47, 0, 0.745, 0.715) 8.08s both,
        animate-svg-fill-10 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 12.9s both;
}

@-webkit-keyframes animate-svg-stroke-natal-11 {
    0% {
        stroke-dashoffset: 1224.587158203125px;
        stroke-dasharray: 1224.587158203125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1224.587158203125px;
    }
}

@keyframes animate-svg-stroke-natal-11 {
    0% {
        stroke-dashoffset: 1224.587158203125px;
        stroke-dasharray: 1224.587158203125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1224.587158203125px;
    }
}

@-webkit-keyframes animate-svg-fill-11 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-11 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-natal-11 {
    -webkit-animation: animate-svg-stroke-natal-11 5s cubic-bezier(0.47, 0, 0.745, 0.715) 8.2s both,
        animate-svg-fill-11 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 13s both;
    animation: animate-svg-stroke-natal-11 5s cubic-bezier(0.47, 0, 0.745, 0.715) 8.2s both,
        animate-svg-fill-11 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 13s both;
}

@-webkit-keyframes animate-svg-stroke-natal-12 {
    0% {
        stroke-dashoffset: 1180.9136962890625px;
        stroke-dasharray: 1180.9136962890625px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1180.9136962890625px;
    }
}

@keyframes animate-svg-stroke-natal-12 {
    0% {
        stroke-dashoffset: 1180.9136962890625px;
        stroke-dasharray: 1180.9136962890625px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1180.9136962890625px;
    }
}

@-webkit-keyframes animate-svg-fill-12 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-12 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-natal-12 {
    -webkit-animation: animate-svg-stroke-natal-12 5s cubic-bezier(0.47, 0, 0.745, 0.715) 8.32s both,
        animate-svg-fill-12 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 13.1s both;
    animation: animate-svg-stroke-natal-12 5s cubic-bezier(0.47, 0, 0.745, 0.715) 8.32s both,
        animate-svg-fill-12 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 13.1s both;
}