svg {
    width: 50%;
}

@-webkit-keyframes animate-svg-stroke-1 {
    0% {
        stroke-dashoffset: 3024.303955078125px;
        stroke-dasharray: 3024.303955078125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 3024.303955078125px;
    }
}

@keyframes animate-svg-stroke-1 {
    0% {
        stroke-dashoffset: 3024.303955078125px;
        stroke-dasharray: 3024.303955078125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 3024.303955078125px;
    }
}

@-webkit-keyframes animate-svg-fill-1 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-1 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-1 {
    -webkit-animation: animate-svg-stroke-1 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
        animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5s both;
    animation: animate-svg-stroke-1 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
        animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5s both;
}

@-webkit-keyframes animate-svg-stroke-2 {
    0% {
        stroke-dashoffset: 809.7813110351562px;
        stroke-dasharray: 809.7813110351562px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 809.7813110351562px;
    }
}

@keyframes animate-svg-stroke-2 {
    0% {
        stroke-dashoffset: 809.7813110351562px;
        stroke-dasharray: 809.7813110351562px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 809.7813110351562px;
    }
}

@-webkit-keyframes animate-svg-fill-2 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-2 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-2 {
    -webkit-animation: animate-svg-stroke-2 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both,
        animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.1s both;
    animation: animate-svg-stroke-2 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both,
        animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.1s both;
}

@-webkit-keyframes animate-svg-stroke-3 {
    0% {
        stroke-dashoffset: 950.6490478515625px;
        stroke-dasharray: 950.6490478515625px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 950.6490478515625px;
    }
}

@keyframes animate-svg-stroke-3 {
    0% {
        stroke-dashoffset: 950.6490478515625px;
        stroke-dasharray: 950.6490478515625px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 950.6490478515625px;
    }
}

@-webkit-keyframes animate-svg-fill-3 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-3 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-3 {
    -webkit-animation: animate-svg-stroke-3 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both,
        animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.2s both;
    animation: animate-svg-stroke-3 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both,
        animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.2s both;
}

@-webkit-keyframes animate-svg-stroke-4 {
    0% {
        stroke-dashoffset: 1849.8060302734375px;
        stroke-dasharray: 1849.8060302734375px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1849.8060302734375px;
    }
}

@keyframes animate-svg-stroke-4 {
    0% {
        stroke-dashoffset: 1849.8060302734375px;
        stroke-dasharray: 1849.8060302734375px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1849.8060302734375px;
    }
}

@-webkit-keyframes animate-svg-fill-4 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-4 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-4 {
    -webkit-animation: animate-svg-stroke-4 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s both,
        animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.3s both;
    animation: animate-svg-stroke-4 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s both,
        animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.3s both;
}

@-webkit-keyframes animate-svg-stroke-5 {
    0% {
        stroke-dashoffset: 950.6432495117188px;
        stroke-dasharray: 950.6432495117188px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 950.6432495117188px;
    }
}

@keyframes animate-svg-stroke-5 {
    0% {
        stroke-dashoffset: 950.6432495117188px;
        stroke-dasharray: 950.6432495117188px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 950.6432495117188px;
    }
}

@-webkit-keyframes animate-svg-fill-5 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-5 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-5 {
    -webkit-animation: animate-svg-stroke-5 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s both,
        animate-svg-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.4s both;
    animation: animate-svg-stroke-5 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s both,
        animate-svg-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.4s both;
}

@-webkit-keyframes animate-svg-stroke-6 {
    0% {
        stroke-dashoffset: 2502.000244140625px;
        stroke-dasharray: 2502.000244140625px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 2502.000244140625px;
    }
}

@keyframes animate-svg-stroke-6 {
    0% {
        stroke-dashoffset: 2502.000244140625px;
        stroke-dasharray: 2502.000244140625px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 2502.000244140625px;
    }
}

@-webkit-keyframes animate-svg-fill-6 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-6 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-6 {
    -webkit-animation: animate-svg-stroke-6 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both,
        animate-svg-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.5s both;
    animation: animate-svg-stroke-6 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both,
        animate-svg-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.5s both;
}

@-webkit-keyframes animate-svg-stroke-7 {
    0% {
        stroke-dashoffset: 1849.8009033203125px;
        stroke-dasharray: 1849.8009033203125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1849.8009033203125px;
    }
}

@keyframes animate-svg-stroke-7 {
    0% {
        stroke-dashoffset: 1849.8009033203125px;
        stroke-dasharray: 1849.8009033203125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1849.8009033203125px;
    }
}

@-webkit-keyframes animate-svg-fill-7 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-7 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-7 {
    -webkit-animation: animate-svg-stroke-7 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s both,
        animate-svg-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.6s both;
    animation: animate-svg-stroke-7 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s both,
        animate-svg-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.6s both;
}

@-webkit-keyframes animate-svg-stroke-8 {
    0% {
        stroke-dashoffset: 950.6495361328125px;
        stroke-dasharray: 950.6495361328125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 950.6495361328125px;
    }
}

@keyframes animate-svg-stroke-8 {
    0% {
        stroke-dashoffset: 950.6495361328125px;
        stroke-dasharray: 950.6495361328125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 950.6495361328125px;
    }
}

@-webkit-keyframes animate-svg-fill-8 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-8 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-8 {
    -webkit-animation: animate-svg-stroke-8 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s both,
        animate-svg-fill-8 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.7s both;
    animation: animate-svg-stroke-8 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s both,
        animate-svg-fill-8 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.7s both;
}

@-webkit-keyframes animate-svg-stroke-9 {
    0% {
        stroke-dashoffset: 691.3113403320312px;
        stroke-dasharray: 691.3113403320312px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 691.3113403320312px;
    }
}

@keyframes animate-svg-stroke-9 {
    0% {
        stroke-dashoffset: 691.3113403320312px;
        stroke-dasharray: 691.3113403320312px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 691.3113403320312px;
    }
}

@-webkit-keyframes animate-svg-fill-9 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-9 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-9 {
    -webkit-animation: animate-svg-stroke-9 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s both,
        animate-svg-fill-9 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.8s both;
    animation: animate-svg-stroke-9 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s both,
        animate-svg-fill-9 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.8s both;
}